.product{
    display: flex;
    border-bottom: 2px solid lightgray;
    margin-bottom: 5px;
    margin-right: 5px;
    padding:5px
}
.product-name{
    color:blue;
    font-weight: 400;
}
.main-btn{
    background-color:goldenrod;
    height: 35px;
    width:150px;
    border: 2px solid lightgray;
    border-radius: 5px;
}